
.facebook{
    font-size:10px ;
    padding: 10px;
    background-color: ;
    color: blue;
    border-radius: 100%;
    
    border-color: black;
}
.whatsapp{
    font-size: 100px;
    background-color: ;
    color: green;
    padding: 80px;
    border: 100px;
    border-radius: 50%;
} 
.twitter{
    font-size: 90px;
    background-color: ;
    color: blue;
    padding: 80px;
    border: 100px;
    border border-radius: 50%;
    
}
.instagram{
    font-size: 50px;
    background-color: ;
    color: rgb(236, 20, 70);
    padding: 80px;
    border: 100px;
    border border-radius: 50%;
}
.snapchat{
    font-size: 50px;
    color:yellow;
    background-color: white;


    
    
    padding: 40px;
    
    
}

