.con1{
    height: 200px;
    width: 200px;
    background-color: tomato;
    border: 5px solid;
    position: relative;
    animation-name: demo;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-direction: alternate-reverse;
    
}
@keyframes demo{
    to{
        left: 300px;
        top: 0px;
    }
    from{
        left: opx;
        top: 0px;
    }
}
button{
    padding: 20px;
    background-color: yellow;
    margin: 20px;
}
.btn:hover{
    background-color: navy;
    color: white;
    padding: 30px;
    border-radius: 30px;
    border: none;
    animation-name: disco;
}
@keyframes disco{
    0%{
        box-shadow: 0px 0px 4px 2px blue;
    }
    30%{
        box-shadow: 0px 0px 6px 8px green;
    }
    50%{
        box-shadow: 0px 0px 6px 8px olivedrab
        r;
    }
    70%{  box-shadow: 0px 0px 6px 8px cyan;
    rotate: 9s;}
    100%{  box-shadow: 0px 0px 6px 8px yellow;
    rotate: 6s;}

}

@keyframes demo{
    0%{
        top: 0px;
        left: 0px;
        rotate: 130deg;
    }
    50%{
        top: 0px;
        left: 400px;
        background-color: black;
        rotate: 120deg;
    }
    100%{
        top: 300px;
        left: 400px;
        border: none;
        border-radius: 60%;
        scale: 1.3;
    }
}