.con1{
    height: 200px;
    width: 200px;
    background-color: tomato;
    border: 5px solid;
    position: relative;
    animation-name: demo;
    animation-duration: 4s;
    
}
@keyframes demo{
    to{
        left: 300px;
        top: 0px;
    }
    from{
        left: opx;
        top: 0px;
    }
}
@keyframes demo{
    0%{
        top: 0px;
        left: 0px;
    }
    50%{
        top: 0px;
        left: 400px;
    }
    100%{
        top: 300px;
        left: 400px;
    }
}